<ion-header>
  <ion-toolbar>
    <ion-title>
      iOS Test Deploy 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>  
      <ion-item *ngFor="let hero of heroes">
          <ion-label>{{hero}}</ion-label>
          <ion-radio slot="start" value={{hero}}></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button (click)="lockLandscape()">Lock Landscape</ion-button>
  <ion-button (click)="unlockScreenOrientation()">Unlock Orientation</ion-button>
</ion-content>
